*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #85BF65;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.form-wrapper{
    width: 360px;
    padding: 55px 45px;
    background-color: #FFFFFF;
    text-align: center;
}
.logo-wrapper{
    margin-bottom: 15px;
}
.form-title{
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
}
input{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    background-color: #F2F2F2;
}
input::placeholder{
    color: #a5a4a4;
}
input:focus{
    background-color: #e7e5e5;
}
.btn-submit{
    width: 100%;
    border: none;
    padding: 15px 110px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn-submit:hover{
    background-color: rgb(63, 153, 66);
}
.link-wrap{
    font-size: 13px;
    font-weight: normal;
    color: #808080;
    margin-bottom: 25px;
}
.link{
    text-decoration: none;
    color: #4CAF50;
}
.link:hover{
    text-decoration: underline;
}
.form-desc{
    color: #302f2f;
}